extends layout

block content
    body.arena
        .header
            h1 > JS Arena
        .content
            pre.log
            .edit
                #ace // Send a message to other players
                    | var username = 'New Player';
                    | var message = 'Hi @all!';
                    | log('--> ' + username + ': ' + message);
            .actions
                a(href="")#local Execute local
                a(href="")#remote Execute remote
        small Feel free to contribute on <a href="https://github.com/cvieth/js-arena">GitHub</a>
        script(src="/socket.io/socket.io.js")
        script(src="//cdn.jsdelivr.net/jquery/2.2.1/jquery.min.js")
        script(src="//cdn.jsdelivr.net/ace/1.2.3/min/ace.js")
        script(src="/js/arena.js")

