extends layout

block content
    body.arena
        .header
            h1 > JS Arena
        #edit
            #ace alert("Player connected!");
        #control
            button#send Fire Code
        // ACE Editor
        script(src="/socket.io/socket.io.js")
        script(src="//cdn.jsdelivr.net/jquery/2.2.1/jquery.min.js")
        script(src="//cdn.jsdelivr.net/ace/1.2.3/min/ace.js")
        script(src="/js/arena.js")

