extends layout

block content
    body.start
        .header
            h1 > JS Arena
        .content
            .intro
                h2 /!\ Attention /!\
                p This website is made for hardcore bad-ass web-developers, security specialists and IT ninjas. In other words people who know how to deal with technology and are able to protect themselves.

                p Each user of this website is abel to send code to all other visitors that gets executed automatically. The goal of this site is to train your coding skills and learn about web security.

                p
                    strong This website can be harmful for your IT infrastructure! There is a potentially high risk of getting attacked! If you are not sure what you are doing here just go away now!

                p Until now there is no user registration, scoring system or highscore tabel. All this features will be provided in later releases. If you like, feel free to contribute!

            .actions
                a(href="https://github.com/cvieth/js-arena")#leave Leave website now
                a(href="/arena/")#proceed Proceed to Arena

