doctype html
html
    head
        title > JS Arena - #{title}
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/screen.css')
    block content