/* Coolors Exported Palette - coolors.co/631d76-153243-f7f7f2-303633-7f1f3a */

$color1: #631d76; //rgba(99, 29, 118, 100)
$color2: #153243; //rgba(21, 50, 67, 100)
$color3: #f7f7f2; //rgba(247, 247, 242, 100)
$color4: #303633; //rgba(48, 54, 51, 100)
$color5: #7f1f3a; //rgba(127, 31, 58, 100)